@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
    background: #1a1a1a;
    color: white;
    font-family: 'Roboto';
}
.flat-form {
    background: #2c2c2e;
    margin: 25px auto;
    width: 390px;
    height: 350px;
    padding-top:25px;
    position: relative;
    font-family: 'Roboto';
}

.form-action {
    padding: 0 20px;
    position: relative;
}

.form-action h1 {
    font-size: 42px;
    padding-bottom: 10px;
    color:#ccc;
}
.form-action p {
    font-size: 14px;
    color:#ccc;
    padding-bottom: 10px;
    line-height: 25px;
}
form {
    padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
    font-family: 'Roboto'; font-size: 14px;
}

form input[type=text],
form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #fff;
    border: none;
    color: #666;
    outline: none;
}

.show {
    display: block;
}
.hide {
    display: none;
}

.button {
    border: none;
    display: block;
    background: #de4949;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.button:hover {
    background: #bc4646;
}

.button:active {
    background: #bc4646;
}

.button:focus {outline:0;}

::-webkit-input-placeholder {
    color: #666;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #666;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #666;
}
:-ms-input-placeholder {
    color: #e74c3c;
}